TEXT-CONST;text-begin;text-end;lightgray;gray;Text
SA-CONST;sa-begin;sa-end;"#FECCCD";"#FE8282";SA
BWT-CONST;bwt-begin;bwt-end;"#FECCCD";"#FE8282";BWT
WT-CONST;wt-begin;wt-end;"#FECCCD";"#FE8282";WT
SA-SAMPLE;sa-sample-begin;sa-sample-end;"#FECCCD";"#FE8282";sSA
ISA-SAMPLE;isa-sample-begin;isa-sample-end;"#FECCCD";"#FE8282";sISA
LCP-CONST;lcp-begin;lcp-end;"#FEE5CE";"#FEBE85";LCP
BPS-CONST;bps-sct-begin;bps-sct-end;"#CCCCFE";"#8A8AFE";BPS
BPSS-CONST;bpss-sct-begin;bpss-sct-end;"#CCCCFE";"#8A8AFE";BPSS
CLCP-CONST;clcp-begin;clcp-end;"#FEE5CE";"#FEBE85";CLCP

