Makefile			  
./*           # ignore every file in the current directory
!*/           # don't ignore subdirectories
!*.cpp        # don't ignore .cpp-files
!*.config     # don't ignore .config-files
!*.cmake      # don't ignore cmake-files
!.gitignore   # don't ignore the .gitignore file
!README       # don't ignore the README file
