*
Makefile			  
*.x.DSYM/     # 
!*.cpp        # don't ignore .cpp-files
!*.config     # don't ignore .config-files
!Makefile.cmake
!CMakeLists.txt
!.gitignore   # don't ignore the .gitignore file
!README       # don't ignore the README file
