# Inputs which should be used in BitVectorTest,
# RankSupportTest, SelectSupportTest, and
# SelectSupport0Test
# Each line contains an ID and a path to a bit_vector.
BIT-EMPTY;test_cases/int-vec.0.1.0;
BIT-1-1-0;test_cases/int-vec.1.1.0;
BIT-1000000-1-0;test_cases/int-vec.1000000.1.0;
BIT-1000000-1-1;test_cases/int-vec.1000000.1.1;
BIT-07-1-1;test_cases/int-vec.7.1.1;
BIT-08-1-0;test_cases/int-vec.8.1.0;
BIT-09-1-1;test_cases/int-vec.9.1.1;
BIT-10-1-0;test_cases/int-vec.10.1.0;
BIT-11-1-1;test_cases/int-vec.11.1.1;
BIT-12-1-0;test_cases/int-vec.12.1.0;
BIT-13-1-1;test_cases/int-vec.13.1.1;
BIT-14-1-0;test_cases/int-vec.14.1.0;
BIT-15-1-1;test_cases/int-vec.15.1.1;
BIT-8-1-r-17;test_cases/int-vec.8.1.r.17;
BIT-16-1-r-42;test_cases/int-vec.16.1.r.42;
BIT-32-1-r-111;test_cases/int-vec.32.1.r.111;
BIT-64-1-r-222;test_cases/int-vec.64.1.r.222;
BIT-128-1-r-73;test_cases/int-vec.128.1.r.73;
BIT-256-1-r-4887;test_cases/int-vec.256.1.r.4887;
BIT-512-1-r-432;test_cases/int-vec.512.1.r.432;
BIT-1024-1-r-898;test_cases/int-vec.1024.1.r.898;
BIT-2048-1-r-5432;test_cases/int-vec.2048.1.r.5432;
BIT-4096-1-r-793;test_cases/int-vec.4096.1.r.793;
BIT-8192-1-r-1043;test_cases/int-vec.8192.1.r.1043;
BIT-1000000-1-r-815;test_cases/int-vec.1000000.1.r.815;
CRAFTED-32;test_cases/bit-vec.CRAFTED-32;
CRAFTED-SPARSE-0;test_cases/bit-vec.CRAFTED-SPARSE-0;
CRAFTED-SPARSE-1;test_cases/bit-vec.CRAFTED-SPARSE-1;
CRAFTED-BLOCK-0;test_cases/bit-vec.CRAFTED-BLOCK-0;
CRAFTED-BLOCK-1;test_cases/bit-vec.CRAFTED-BLOCK-1;
CRAFTED-MAT-SELECT;test_cases/bit-vec.CRAFTED-MAT-SELECT;
