# Texts which should be used in the CstByteTest.
# Format: [TC_ID];[TC_PATH];[TC_NAME]
TXT-EMPTY;test_cases/empty.txt;empty
TXT-EXAMPE01;test_cases/example01.txt;example01
TXT-100A;test_cases/100a.txt;100a
TXT-FAUST;test_cases/faust.txt;faust-de
#TXT-ZARATHUSTRA;test_cases/zarathustra.txt;zarathustra-de
