# Texts which should be used in the CstIntTest.
# Each line contains a path to a text. The path is
# relative to the `test/test_cases` directory of sdsl.A
# Note that the files will be handled according to their
# extension:
#   *.txt: is handled as byte sequence
#   *.int: is handled as 64-bit integer sequence
small/keeper.int
small/moby.int
crafted/empty.txt
small/faust.txt
small/zarathustra.txt
crafted/100a.txt
