# Texts which should be used in the CstIntTest.
# Each line contains [TC_ID];[TC_PATH];[TC_NAME];[NUM_BYTE] 
TXT-EMPTY;test_cases/empty.txt;empty;1
TXT-EXAMPE01;test_cases/example01.txt;example01;1
TXT-100A;test_cases/100a.txt;100a;1
TXT-FAUST;test_cases/faust.txt;faust-de;1
#TXT-ZARATHUSTRA;test_cases/zarathustra.txt;zarathustra-de;1
INT-KEEPER;test_cases/keeper.int;keeper.int;8
INT-MOBY;test_cases/moby.int;moby.int;8
INT-100000-18-R;test_cases/int-vec-sa.100000.18.r;int-100000-18-r;0
