# Each line contains a bit_vector test
int-vec.0.1.0
int-vec.1.1.0
int-vec.1000000.1.0
int-vec.1000000.1.1
int-vec.7.1.1
int-vec.8.1.0
int-vec.9.1.1
int-vec.10.1.0
int-vec.11.1.1
int-vec.12.1.0
int-vec.13.1.1
int-vec.14.1.0
int-vec.15.1.1
int-vec.8.1.r.17
int-vec.16.1.r.42
int-vec.32.1.r.111
int-vec.64.1.r.222
int-vec.128.1.r.73
int-vec.256.1.r.4887
int-vec.512.1.r.432
int-vec.1024.1.r.898
int-vec.2048.1.r.5432
int-vec.4096.1.r.793
int-vec.8192.1.r.1043
int-vec.1000000.1.r.815
bit-vec.CRAFTED-32
bit-vec.CRAFTED-SPARSE-0
bit-vec.CRAFTED-SPARSE-1
bit-vec.CRAFTED-BLOCK-0
bit-vec.CRAFTED-BLOCK-1
bit-vec.CRAFTED-MAT-SELECT
