# Texts which should be used in the SaConstructTest.
# Format: [TC_ID];[TC_PATH]
SA-EMPTY-TXT;test_cases/empty.txt
SA-ONEBYTE-TXT;test_cases/one_byte.txt
SA-EXAMPLE-01;test_cases/example01.txt
SA-100A-TXT;test_cases/100a.txt
SA-FAUST-TXT;test_cases/faust.txt
SA-ZARATHUSTRA-TXT;test_cases/zarathustra.txt
