# Texts which should be used in the WtByteTest.
# Each line contains [TC_ID];[TC_PATH]
TXT-EMPTY;test_cases/empty.txt;empty
TXT-EXAMPE01;test_cases/example01.txt;example01
TXT-100A;test_cases/100a.txt;100a
TXT-all;test_cases/all_symbols.txt;all_symbols
TXT-FAUST;test_cases/faust.txt;faust-de
#TXT-ZARATHUSTRA;test_cases/zarathustra.txt;zarathustra-de
