# Inputs which should be used in the WtIntTest.
# Each line contains an ID and a path to a text. 
WT-EMPTY;test_cases/wt-int.0.1.0.iv;
WT-INT-1023-1-0;test_cases/wt-int.1023.1.0.iv;
WT-INT-100023-1-0;test_cases/wt-int.100023.1.0.iv;
WT-INT-64-2-0;test_cases/wt-int.64.2.0.iv
WT-INT-1000000-18-R;test_cases/wt-int.1000000.18.r.iv;
