# Inputs which should be used in the WtIntTest.
# Each line contains an ID and a path to a text. 
WT-EMPTY;test_cases/int-vec.0.1.0;
WT-INT-1023-1-0;test_cases/int-vec.1023.1.0;
WT-INT-100023-1-0;test_cases/int-vec.100023.1.0;
WT-INT-64-2-0;test_cases/int-vec.64.2.0
WT-INT-100000-18-R;test_cases/int-vec.100000.18.r;
#WT-INT-10000000-18-R;test_cases/int-vec.10000000.18.r;
