# Inputs which should be used 
EMPTY-TEST;test_cases/int-vec-wtk.0.1.0.0.x;test_cases/int-vec-wtk.0.1.0.0.y;test_cases/int-vec-wtk.0.1.0.0.w
TINY-TEST;test_cases/int-vec-wtk.10.16.i.42.x;test_cases/int-vec-wtk.10.16.r.23.y;test_cases/int-vec-wtk.10.8.r.81.w
SML-TEST;test_cases/int-vec-wtk.100.16.i.42.x;test_cases/int-vec-wtk.100.16.r.23.y;test_cases/int-vec-wtk.100.8.r.81.w
MED-TEST;test_cases/int-vec-wtk.10000.16.i.42.x;test_cases/int-vec-wtk.10000.16.r.23.y;test_cases/int-vec-wtk.10000.8.r.81.w
BIG-TEST;test_cases/int-vec-wtk.100000.39.i.42.x;test_cases/int-vec-wtk.100000.47.r.23.y;test_cases/int-vec-wtk.100000.35.r.81.w
LRG-TEST;test_cases/int-vec-wtk.1000000.52.i.42.x;test_cases/int-vec-wtk.1000000.57.r.23.y;test_cases/int-vec-wtk.1000000.45.r.81.w
