[submodule "external/googletest"]
	path = external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "external/libdivsufsort"]
	path = external/libdivsufsort
	url = https://github.com/simongog/libdivsufsort.git
[submodule "external/stxxl"]
	path = external/stxxl
	url = http://github.com/stxxl/stxxl.git
[submodule "external/uint256_t"]
	path = external/uint256_t
	url = https://github.com/calccrypto/uint256_t.git
